/* raw data section block */

#raw_data_section_div {
  justify-content: stretch;
  background-color: white;
  padding: 0.5rem;
  gap: 0.5rem;
}

#raw_data_top_section_div {
  flex-grow: 1;
}

#raw_data_text {
  resize: none;
  line-break: anywhere;
  min-height: 20rem;
}

:where(#raw_data_bottom_section_div) {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  
  * {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  
  button {
    padding: 0.3rem;
    border: none;
    font-size: 1.2rem;
  }
  
  h4 {
    margin: 0;
  }
  
  .narrow_gap {
    gap: 0.14rem;
  }
}
