/* extras section div */

:where(#extras_section_div) {
  justify-content: stretch;
  
  & > div {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 0.5rem 0.5rem 2rem;
  }
}
