/* tables and charts section block */

#charts_section_div {
  padding: 0rem 1rem 3rem;
  
  & > div > p {
    margin: 0;
  }
  
  & > :is(fieldset, h4) {
    margin-top: 1.3rem;
  }
}

:where(#week_picker_div) {
  & > button {
    font-size: 2rem;
    border: 0.2rem solid gray;
    border-radius: 0.4rem;
    padding: 0 0.7rem 0;
  }
  
  & > select {
    flex-grow: 1;
    background-color: white;
    font-size: 1.3rem;
    border: 0.2rem solid gray;
    border-radius: 0;
    padding: 0.6rem;
  }
}

#schedule_table {
  padding-top: 1rem;
}

#schedule_table_main_section {
  justify-content: stretch;
  gap: 0.2rem;
  
  & > div {
    &:first-child {
      flex-grow: 0;
      flex-basis: auto;
    }
    
    flex-grow: 1;
    flex-basis: 0;
  }
}

.schedule_table_header_row {
  font-weight: bold;
  align-self: center;
  padding-bottom: 0.2rem;
}

#schedule_table_main_section_times_div {
  justify-content: stretch;
  
  & > div {
    align-items: center;
    flex-grow: 1;
    min-height: 0;
    border-top: 0.1rem solid black;
    padding: 0 0.4rem 0;
    
    &:last-child {
      border-bottom: 0.1rem solid black;
    }
  }
}

.schedule_table_time_column {
  width: 5.5rem;
}

#stats_section_div, #all_time_stats_section_div {
  background-color: white;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 0.3rem solid black;
  padding: 0.7rem;
}

:is(#stats_div, #all_time_stats_div) > * {
  flex-direction: row;
}

#refresh_charts_button {
  margin-top: 1.6rem;
}
