/* events section block */

#events_section_div {
  background-color: blue;
  padding: 1.5rem 1rem 1.5rem;
  gap: 0.5rem;
  
  & :is(button, label) { /* works without the & but it breaks syntax highlighting */
    background-color: lightblue;
    
    &:hover {
      background-color: rgb(125, 197, 219);
    }
    
    &:is(:active, .current_event) {
      background-color: rgb(57, 171, 209);
    }
  }
  
  button {
    padding: 0.3rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    justify-content: center;
  }
  
  fieldset {
    border: 0.3rem solid black;
    
    & > legend {
      color: lightpink;
      font-size: 1.3rem;
      font-weight: normal;
    }
  }
}
