/* events section block */

#events_section_div {
  background-color: blue;
  padding: 1.5rem 1rem 1.5rem;
  gap: 0.5rem;
  
  :is(button, label) {
    background-color: lightblue;
    
    &:hover {
      background-color: rgb(125, 197, 219);
    }
    
    &:is(:active, .current_event) {
      background-color: rgb(57, 171, 209);
    }
  }
  
  fieldset {
    border: 0.3rem solid black;
    
    & > legend {
      color: lightpink;
      font-size: 1.3rem;
      font-weight: normal;
    }
  }
}
