#edit_section_div {
  background-color: var(--bright-background);
  padding: 0.5rem;
  gap: 0.5rem;
  
  & > div, & > div > div {
    gap: 0.5rem;
  }
  
  input[type = number] {
    width: 8rem;
  }
  
  summary {
    padding: 0 0 0 0.5rem;
    font-size: 2rem;
    border: 0.1rem solid var(--outline);
    border-radius: 0.5rem;
  }
}

#pseudo_raw_data_text {
  resize: none;
  line-break: anywhere;
  min-height: 10rem;
}
