/* data section block */

:where(#data_section_div) {
  padding: 1.5rem 1rem 1.5rem;
  gap: 0.5rem;
  
  & > div {
    justify-content: stretch;
    align-items: center;
    gap: 0.5rem;
  }
  
  button, label, select, input[type = number] {
    font-size: 1.25rem;
    flex-grow: 1;
  }
  
  input[type = number] {
    width: 8rem;
  }
  
  h4 {
    margin: 0;
  }
  
  legend {
    font-size: 1rem;
  }
  
  .data_page_hidden {
    opacity: 0.42;
  }
  
  .data_page_backtemporal {
    color: var(--data-backtemporal);
  }
}

#data_div {
  align-items: start;
  gap: 0;
  white-space: pre-wrap;
  font-family: monospace;
  padding: 0 0 1rem;
  flex-grow: 1;
}
